:root {
	--board-color: #04D4F0;
	--border-color: var(--background);
	--dull-player: rgb(160, 160, 160);
	--red-player: #f02d20;
	--blue-player: #2dc7ff;
	--yellow-player: #ffd643;
	--green-player: #00cc00;
	--wood: #BA8C63;
	--dark-wood: #945b29;
}

html {
	scroll-behavior: smooth;    
}

body {
	margin: 0;
	background-color: transparent;
}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: #18181d; }
::-webkit-scrollbar-thumb { background: #6580b1; }
::-webkit-scrollbar-thumb:hover { background: #7298da; }

.bg-cover {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	background-color: #252931;
	background-image: url(/scenary.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
}

.wrap {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.board, .board-inner {
	width: 100%;
	height: 100%;
	
}

.board {
	padding: 5px;
}

.prison {
	display: inline-block;
}

.prison-inner {
	background-color: var(--wood);
	border-radius: 2px;
	padding: 5px;
}

.coin {
	border-radius: 100%;
	margin: 2px;
}

.step {
	background-color: var(--wood);
	margin: 2px;
}

.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-column { flex-direction: column; }
.flex-column-r { flex-direction: column-reverse; }
.flex-row { flex-direction: row; }
.flex-row-r { flex-direction: row-reverse; }

.alert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
}

.alert p {
	font-family: "Changa";
	font-size: 40px;
	color: white;
	text-align: center;
	line-height: 1;
	margin-top: calc(50% - 60px);
}

.dice {
	background-color: var(--red-player);
	border-radius: 20px;
	width: 100px;
	height: 100px;
	margin-left: calc(50% - 50px);
	margin-top: -50px;
}

.dot, .e-dot {
	border-radius: 100%;
	padding: 12px;
	display: inline-block;
}

.dot { background-color: white; }
.e-dot { background-color: transparent; }

.dside-1 .dot {
	margin-left: calc(50px - 12px);
	margin-top: calc(50px - 12px);
}

.dside-2 {
	margin-left: calc(50px - 24px);
	margin-top: calc(50px - 12px);
	display: inline-block;
	transform: rotate(30deg);
}

.dside-3 {
	margin-left: calc(50px - 40px);
	margin-top: calc(50px - 12px);
	display: inline-block;
	transform: rotate(30deg);
}

.dside-4 {
	margin-left: calc(50px - 28px);
	margin-top: calc(50px - 28px);
	display: inline-block;
}

.dside-4 .dot, .dside-6 .dot {
	margin: 2px;
}

.dside-5 {
	margin-left: calc(50px - 36px);
	margin-top: calc(50px - 36px);
	display: inline-block;
}

.dside-6 {
	margin-left: calc(50px - 28px);
	margin-top: calc(50px - 42px);
	display: inline-block;
}

.cover {
	font-family: "Titillium Web";
	padding: 100px;
	color: white;
}

.cover h1 {
	font-size: 80px;
	margin: 0;
}

.cover p {
	margin: 0;
	font-size: 20px;
}

.cover-btn {
	border-radius: 20px;
	padding: 10px 100px;
	text-decoration: none;
	color: white;
	border: 2px solid var(--dark-wood);
	margin-top: 10px;
	display: inline-block;
	text-transform: uppercase;
}

.cover-btn:hover {
	background-color: var(--dark-wood);
}

.cover .credits {
	margin-top: 10px;
}

.cover .credits a {
	color: white;
}

@media (max-width: 750px) {
	.cover {
		padding: 50px;
	}

	.cover p {
		font-size: 15px;
	}
	
	.cover h1 {
		font-size: 30;
		line-height: 1;
		margin-top: 30px;
	}

	.cover-btn {
		padding: 5px 50px;
		border: 1px solid black;
	}
}

.game-page {
	display: flex;
}

.board-wrapper {
	-o-transform: scale(0.95);
	-moz-transform: scale(0.95);
	transform: scale(0.95);
}

.players-tab {
	padding: 30px;
	width: 100%;
}

.player-tab {
	color: white;
	font-family: "Titillium Web";
	margin: 10px;
	width: calc(50% - 20px);
}

.player-tab .foot { 
	background-color: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 5px 10px;
	height: calc(100% - 50px);
}

.player-tab .head {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0 10px;
}

.player-tab h3, .player-input {
	margin: 0;
	font-size: 30px;
}

.player-input {
	background-color: transparent;
	outline: none;
	border: none;
	width: 100%;
	color: white;
	font-weight: bold;
	font-family: "Titillium Web";
}

.player-tab p  {
	margin: 0;
	color: black;
}

.player-tab a { 
	margin: 0;
	cursor: pointer;
	text-decoration: none;
	color: black;
	border-radius: 2px;
	padding: 2px 6px;
	margin-top: 2px;
	display: block;
	text-align: center;
}

.player-tab a:hover {
	color: white;
	background-color: var(--dark-wood);
}

.pt-btn {
	margin: 10px;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-family: "Titillium Web";
	background-color: var(--dark-wood);
	padding: 5px 10px;
	border-radius: 4px;
	text-align: center;
	width: calc(50% - 40px);
}

.inline-block { display: inline-block; }
.block { display: block; }
.strong { font-weight: bold; }

.r-game-page {
	display: block!important;
}

.r-game-page .board-wrapper {
	margin-left: calc(50% - min(50vw, 50vh));
}

.r-game-page .players-tab {
	padding: 10px;
	width: calc(100% - 20px);
}

.r-game-page .player-tab { 
	margin: 5px; 
	width: calc(50% - 10px);
}

.r-game-page .pt-btn {
	padding-top: 5px 0;
	width: calc(100% - 30px);
	margin: 5px;
}

.r-game-page .player-tab h3, .r-game-page .player-input { font-size: 25px; }
.r-game-page .player-tab p { font-size: 15px; }

.coin, .prison-inner, .step, .player-tab {
	box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.13);
	-webkit-box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.13);
}

.dice, .alert, .player-tab {
	-o-transition: .15s;
	-moz-transition: .15s;
	transition: .15s;
}

.player-tab:hover {
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}